body {
  background-image: url(../images/authBack.jpg);
  background-size: cover;
}

.form_bg {
  background-image: url(../images/authBack.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  height: 80vh;
  width: 70vw;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: -5px 8px 17px 10px #00000069;
  display: flex;
  justify-content: space-around;
}

.form_bg .name {
  width: 40%;
}

.form_bg .name a {
  text-decoration: none;
}

.form_bg .name h1 {
  text-align: end;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-size: 3.5rem;
  color: #1e7ac7;
}

.form_bg .name h1:last-child {
  font-size: 3rem;
  color: #ca097e;
}

.form_bg .form {
  width: 60%;
}

.form_bg .form .head {
  width: 80%;
  margin: 30px 30px 20px 100px;
  border-bottom: 1px solid #ca097e5b;
}

.form_bg .form .head h2 {
  margin-bottom: 15px;
}

.form_bg .form .head p {
  margin-bottom: 10px;
}

.form_bg .form .inputs {
  margin-top: 10px;
  text-align: center;
}

.form_bg .form .inputs input {
  padding: 12px 20px;
  width: 60%;
  height: 50px;
  margin: 10px 0;
  font-size: 1rem;
  border: none;
  background-color: #ca097d15;
  color: #ca097e;
  outline: none;
  border-radius: 10px;
}

.form_bg .form .inputs button {
  background-color: #ca097e;
  color: aliceblue;
  margin: 10px 0;
  border: none;
  font-size: 0.9rem;
  padding: 15px 60px;
  width: 300px;
  border-radius: 10px;
  box-shadow: -6px 6px 18px 2px #d80a8796;
  cursor: pointer;
  outline: none;
}

.afterOTP {
  display: none;
}

.form_bg .form .inputs p {
  margin-top: 20px;
}

.form_bg .form p a {
  text-decoration: none;
  color: #ca097e;
  font-weight: 600;
  cursor: pointer;
}

.form_bg .form .inputs p a:hover {
  text-decoration: underline;
}

footer {
  margin-top: 30px;
  text-align: center;
  font-size: 0.8rem;
}
